footer {
    gap: 0;
    margin-bottom: 0;
}

@media (max-width: 430px) {
    section#footer {
        padding-top: 10%!important;
        padding-bottom: 10%!important;
    }
}

@media (max-width: 770px) {
    section#footer {
        gap: 5px;     
        flex-direction: row;
        flex-wrap: wrap;
    } 
}
@media (min-width: 771px) and (max-width: 1025px) {  
    section#footer {
        gap: 5px;     
        flex-direction: row;
        flex-wrap: nowrap;
    } 
}
@media (min-width: 1026px) {     
    section#footer {
        gap: 50px;     
        flex-direction: row;
        flex-wrap: nowrap;
    } 
}

section#footer {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #C4C4C4;
    display: flex;

    justify-content: center;
}


/* Menu again */
section#menu-again {
    margin-top: 60px;
    width: 100%;
}

@media (max-width: 430px) {
    div#col-1 {
        width: 60%;
    }
    
    div#col-2, div#col-3 {
        margin-top: 50px;
        width: 60%;
        text-align: center;
    }
}

@media (min-width: 431px) and (max-width: 770px) {
    div#col-1 {
        width: 60%;
    }

    div#col-2, div#col-3 {
        margin-top: 50px;
        width: 40%;
        text-align: center;
    }
}
@media (min-width: 771px) {
    div#col-1, div#col-2, div#col-3 {
        width: 30%;
        max-width: 300px;
    }
}


/* column 1 */
div#col-1 form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

textarea#message, input {
    width: 98%; /*300px*/
    background-color: #ffffff50;
    border: 0;
    font-size: 1em;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 0;
    line-height: 20pt;
}

input.submit {
    width: 100px;
    margin-left: auto;
    margin-right: 4px;
}

input.submit:hover {
    background-color: #ffffff;
}

/* column 2 */
div#logo-footer {
    height: 220px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

div#logo-footer picture img {
    width: auto;
    object-fit: cover;
}


@media (max-width: 770px) {
    div#logo-footer picture img {
        height: 200px;
    }

}
@media (min-width: 771px) {
    div#logo-footer picture img {
        height: 220px;
    }
}

/* column3 */
div#col-3 ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}

div#col-3 hr {
    width: 60%;
    border-top: 1px solid #505050;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

@media (max-width: 770px) { div#col-3 hr { margin: 20px auto; } }
@media (min-width: 771px) { div#col-3 hr { margin: 20px 0; } }

section#copyright {
    background-color: #363636;
    margin: 0;
    margin-top: -16px;
}

section#copyright p {
    padding: 0.5% 0;
    color: #C4C4C4;
    text-transform: uppercase;
    text-align: center;
}
