

#resort-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

article.card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 280px;
}

picture img {
    width: 280px;
    height: 170px;
    object-fit: cover;
}

div.content {
    padding: 5%;
    text-align: center;
}
    /* div h3
    div p */


a.read-more {
    text-transform: uppercase;
}