header {
    position: absolute;
    width: 100%;
    /* background-color: rgba(237, 244, 237, 0.9); */   
}

#title {
    margin: 1% 10%;
}

@media (max-width: 430px) {
    #title {
        margin: 15% 10%;
    }
}

#description {
    width: 100%;
    background-color: #F4F4F4;
}


@media (max-width: 770px) { 
    #description div {
        width: 85%; 
    } 
}

@media (min-width: 771px) { 
    #description div {
        width: 60%;
        max-width: 1024px;
    } 
}

#description div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
    padding: 2%;
}

#description picture {
    width: 240px;
    height: 240px;
}

#description picture img { 
    width: 240px;
    height: 240px;
    object-fit: cover;
}

@media (max-width: 430px) {
    #description div {
        flex-direction: column;
    }

    #description picture {
        width: 140px;
        height: 140px;
    }

    #description picture img { 
        width: 140px;
        height: 140px;
        object-fit: cover;
    }

}



