/* ----------Hero Section---------- */
section#hero {
    margin-top: 0;
    z-index: -1;
}


@media (max-width: 880px) {
    section#hero {
        margin-top: 90px;
    }
}


#hero_pic figure {
    width: 100%;
    margin: 0;
}

#heroimg {
    width: 100%;
}

#frontpg-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#frontpg-logo img {
    object-fit: fill;
    max-width: 200px;
    height: 200px;
}