header#under {
    position: sticky;
    width: 100%;
    background-color: #F4F4F4;
    /* background-color: rgba(237, 244, 237, 0.9); */
}

nav#nav-header {
    padding: 5px 0;
}

.title-subpage {
    padding-top: 2%;
    padding-bottom: 1%;
}

@media (min-width: 771px) {
    ul#nav-desktop-footer,
    #nav-desktop-footer,
    #nav-desktop-header {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
    }
}

nav#nav-footer a,
nav#nav-footer li,
nav#nav-header a,
nav#nav-header li {
        color: #000000;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 100;
        padding: 10px 16px;
        font-size: 16pt;
}

@media (max-width: 770px) {
    nav#nav-footer a,
    nav#nav-footer li {
    padding: 4px;
    font-size: 16pt;
    }
}

@media (min-width: 771px) and (max-width: 1025px) {
    nav#nav-desktop-footer a,
    nav#nav-desktop-footer li,
    nav#nav-header a,
    nav#nav-header li {
        padding: 10px 16px;
        font-size: 16pt;
    }
}

@media (min-width: 1026px) {
    nav#nav-footer a,
    nav#nav-footer li,
    nav#nav-header a,
    nav#nav-header li {
        padding: 10px 16px;
        font-size: 18pt;
    }
}

nav#nav-footer a:hover,
nav#nav-header a:hover {
    /* background-color: #50505080; */
    text-decoration: underline;
}

#nav-desktop-footer ul, #nav-desktop-footer li,
#nav-desktop-header ul, #nav-desktop-header li {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}


/*
nav#nav-header
ul#nav-desktop-header
li a  */

#logo-header picture,
li#logo-header picture img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Activities Section */
div.container {
    width: 70%;
    max-width: 1024px;
}

.restaurant-pic,
.restaurant-desc,
.blog,
.activity {
    height: 450px;
}

/* Restaurant Section */
/* #restaurant */
#restaurant div.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 25px;
    row-gap: 25px;
    /* overflow-y: scroll; */
}



@media (min-width: 771px) {
    .restaurant-pic picture img {
        height: 450px;
        object-fit: cover;
    }

    #mobile-picture-gallery {
        display: none;
    }
}

@media (max-width: 770px) {

    #restaurant div.row {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    .restaurant-pic {
        display: none;
        width: 0;
        height: 0;
        order: 2;
    }

    .restaurant-pic picture img {
        display: none;
    }

    .restaurant-desc {
        width: 60%;
        margin: 0 auto;
        order: 1;
    }

    .restaurant-desc picture img {
        height: 240px!important;
    }

    #mobile-picture-gallery {
        margin-left: auto;
        margin-right: auto;
        padding-top: 3%;
        padding-bottom: 3%;
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    #mobile-picture-gallery picture img {
        width: 175px;
        height: 266px;
        object-fit: cover;
    }

    #mobile-picture-gallery {
        width: 80%;
        flex-wrap: nowrap;
        overflow-y: scroll;
        max-height: 300px;
        justify-content: flex-start;
    }

}

/* Booking Section */


section#booking form {
    background-color: #ffffff;
    padding: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

section#booking form h3 {
    margin-bottom: 3%;
}

section#booking form div.activities {
    align-items: center!important;
    gap: 10px!important;
}

section#booking form div.activities,
section#booking form div.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
@media (min-width: 1051px) {
    section#booking form div.activities,
    section#booking form div.row {
        flex-direction: row;
        gap: 25px;
        
    }

    section#booking form div.row-fullwidth {
        width: 88%;
    }

    div#form-col-1, div#form-col-2 {
        max-width: 350px;
        width: 50%;
    }
}

@media (min-width: 850px) and (max-width: 1050px) {
    section#booking form div.row-fullwidth,
    section#booking form div.activities,
    section#booking form div.row {
        flex-direction: column;
        gap: 0;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
    div#form-col-1, div#form-col-2 {
        width: 100%;        
    }

    select.grey {
        width: 275px; 
    }
}

@media (max-width: 850px) {
    section#booking form div.row-fullwidth,
    section#booking form div.activities,
    section#booking form div.row {
        flex-direction: column;
        gap: 0;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
    div#form-col-1, div#form-col-2 {
        width: 100%;        
    }

    select.grey {
        width: 100%; 
    }

    fieldset.flex-row {
        flex-direction: column!important;
        width: 95%;
    }

    /* section#booking input, */
    textarea#booking-message,
    section#booking label.width {
        width: inherit!important;
    }

    fieldset.row-2a, section#booking form div.row-2a {
        flex-direction: column!important;
        gap: 0!important;
    }

    section#booking form div.row-2a div fieldset{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        width: 240px!important;
    }
    section#booking form div.row-2a div fieldset label{
        width: 100%!important;
    }
    input#small-cabin {
        width: 20px;
    }

}


section#booking form div.row-fullwidth {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    margin-left: auto;
    margin-right: auto;
}

textarea#booking-message {
    width: 98%;
}

section#booking input,
textarea#booking-message {
    background-color: #E8E8E8;
    border: 0;
    font-size: 1em;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 0;
    line-height: 20pt;
}

select.grey {
    background-color: #E8E8E8;
    color: #7f7f7f;
    text-transform: uppercase;
    padding: 5px 0;
}

textarea#booking-message {
    height: 100px;
}

section#booking label.width {
    width: 102px;
}

section#booking label {
    width: 124px;
    background-color: #E8E8E8;
    color: #7f7f7f;
    text-transform: uppercase;
    border: 0;
    font-size: 1em;
    padding: 0 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 0;
    line-height: 20pt;
}
section#booking label.nocolor {
    background-color: transparent;
    text-transform: none;
    color: #000000;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset.flex-row {
    display: flex;
    flex-direction: row;
}

fieldset.flex-row label {
    padding: 0 10px!important;
}

section#booking input.checkbox {
    width: 10px;
    margin: 8px 0 0 0;
    padding: 0;
}

section#booking label.checkbox {
    width: 40px;
    margin-left: 5px;
    padding: 0;
}

section#booking input.date,
section#booking input#checkin,
section#booking input#checkin,
section#booking input#checkout {
    /* width: 98%; */
    background-color: #ffffff;
    /* color: #000000; */
    border: 1px solid #E8E8E8;
    text-align: center;
}

div#form-col-1,
div#form-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

fieldset.row-2a,
section#booking form div.row-2a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

fieldset.row-2b {
    display: flex;
    flex-direction: row;
}

input#small-cabin,
input#large-cabin {
    width: 10px!important;

}

input.availability {
    margin-left: auto!important;
    margin-right: 75px!important;
    margin-top: 20px;
}

div.flex-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

div.addons {
    margin-bottom: 30px;
}

/* single blogpost page */
section#blogpost article {
    width: 80%;
    margin: 3% auto;
    background-color: #ffffff;
    
}

article.blogpost {
    display: flex;
    flex-direction: rows;
}

article.blogpost picture {
    width: 360px;
    height: 542px;
    /* position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0; */
}

article.blogpost picture img {
    width: 360px;
    height: 542px;
    /* display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%); */
    object-fit: cover;
    object-position: center center;
}

article.blogpost div.content {
    padding: 40px;
}

article.blogpost div.content h3 {
    text-align: left;
}

section#blog-gallery {
    display: flex;
    flex-direction: rows;
    flex-wrap: nowrap;
    gap: 25px;
    justify-content: center;
}

section#blog-gallery picture img {
    width: 255px;
    height: 156px;
    object-fit: cover;
    object-position: center center;
}