.COLOURS {
    color: #F4F4F4; /* secondary background clr*/
    color: #E8E8E8; /* main background clr*/
    color: #C4C4C4; /* third background clr*/
    color: #E3E1E1; /* third background clr*/
    color: #000000; /* type clr*/
    color: #FFFFFF; /* type clr*/

}

.Font_Families {


    font-family: 'Crimson Pro', serif;
    font-family: 'Kristi', cursive;

    /* Kristi 32  H2
    Kristi 24  H3
    Crimson Pro 16 P
    Crimson Pro 20 nav */
    /* object-fit property is generally applied to image or video. This property defines how an element responds to the width and height of its container. Mainly there are five values of object-fit property such as fill, contain, cover, none, scale-down, initial, and inherit. The default value of this property is "fill".
    object-fit: fill, contain, cover, none, scale-down, initial, inherit; */
}


body,
html {
    box-sizing: border-box;
    width: 100%;
    /* max-width: 1400px; */
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #E8E8E8;
}

/* Show and Hide */
.dont-show { display: none; }
.show-flex { display: flex; }
.show-block { display: block; }

@media (min-width: 771px) {
    .hide-onDesktop {display: none; }
    .hide-onMobile-flex { display: flex; }
    .hide-onMobile-block { display: block; }
    
}
@media (max-width: 770px) {
    .hide-onDesktop {display: flex; }
    .hide-onMobile-flex { display: none; }
    .hide-onMobile-block { display: none; }

}

@media (min-width: 771px) and (max-width: 1199px) {
    .hide-onTablet { 
        display: none; }
}



/* General formatting */
.seperator-line {
    width: 100%;
    /* height: 5px; */
    border: 2px solid #F4F4F4;
    background-color: #F4F4F4;
}
