    /* font-family: 'Crimson Pro', serif;  200 300 500 */
    /* font-family: 'Kristi', cursive; */
    /* font-family: 'Comforter Brush', cursive; */
    /* Kristi 32  H2
    Kristi 24  H3
    Crimson Pro 16 P
    Crimson Pro 20 nav */
h1 { font-size: 32pt; }
h2 { font-size: 24pt; } @media (max-width: 770px) { h2 { font-size: 20pt; } }
h3 { font-size: 24pt; }
h4 { font-size: 18pt; margin: 30px 0 0 0; }
p { font-size: 16pt; }

h4, h5, h6, p, a, li, input, textarea, .textarea { 
    font-family: 'Crimson Pro', serif; 
    color: #000000;
}

h1, h2, h3  {
    font-family: 'Comforter Brush', cursive;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #000000;
    font-weight: 100;
    text-align: center;
}

p { font-size: 12pt; line-height: 20px;}

p.publish-date {
    font-size: 10pt;
    line-height: 10pt;
    font-style: italic;
    margin: 0 auto;
}

a:hover {
    color: #C4C4C4;
}

span.big { font-size: 16pt; line-height: 22px; text-transform: uppercase;}
.text-centered { text-align: center!important;}




section#banner {
    width: 60%;
    /* max-width: 960px; */
    background: #D9D9D9;
    margin: 3% auto;
    filter: drop-shadow(2px 2px 2px grey);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
}

#banner picture {
    width: 50%;
    height: inherit;
}

#banner picture img  {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

#banner div.content {
    width: 50%;
    padding: 3% 1em;
}
/* div.banner div.content h3 {} */
/* div.banner div.content p {} */

#banner div.content p.deets {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    
}

#banner div.content a.read-more {
    text-align: center;
} 
